* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Lucida Sans", "Geneva", Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url("/public/tile\ bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.container {
  background-color: rgba(17, 25, 40, 0.5);
  backdrop-filter: blur(19px) saturate(180%);
  width: 80vw;
  height: 90vh;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
}

.loading {
  padding: 50px;
  font-size: 36px;
  border-radius: 10px;
  background-color: rgba(17, 25, 40, 0.9);
}

/* Media Query for iPhone 16 Pro Max (430x932) */
@media screen and (max-width: 430px) and (max-height: 932px) {
  body {
    background-image: url("/public/tile\ bg.jpg"); /* Optional: A different background */
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .container {
    max-width: 400px; /* Use more screen width for better fit */
    max-height: 900px; /* Slightly reduce height */
    border-radius: 8px;
  }

  .loading {
    padding: 20px;
    font-size: 24px; /* Adjust font size */
  }
}
